@CHARSET "ISO-8859-1";
 <% @ Page Language = "java" contentType =% "text / css">

#testata{
	 background:blue;
	float:left;
	width:30%;
	}
	
#header{
	backgound:green;
	width:100%;
	height:7%;
	text-align:center;
}

#header h2{
	color:black;
	text-align:left;
	border:1px solid black;
	width:40%;
	}
#sotto{
	background:blue;
	float:right;
	width:32%;
}
#aside{
	border:2px solid blue;
	background:url(../img/logo.png);
	webkit-border-radius: 10px;
moz-border-radius: 10px;
border-radius: 10px;
	float:right;
	width:30%;
}

#aside p{
	padding: 5px;
}
#footer{
	background:green;
	width:100%;
	float:south;
	height: 50px; 
    clear: both;
}

#article{
	float:left;
	width:67%;
	height: auto;
}
#colonna{
	background: blue;
	float:left;
	width:30%;
	height:100%
}




